In [1]:
import yfinance as yf
import pandas as pd
import os

In [2]:
# Download the data
def get_stock_data(name, start_date, end_date):
    stock = yf.Ticker(name)

    df = stock.history(start=start_date, end=end_date)
    df = df.reset_index()
    df = df.rename(columns={
        'Date': 'Date',
        'Open': 'Open',
        'High': 'High',
        'Low': 'Low',
        'Close': 'Close',
        'Volume': 'Volume',
        'Dividends': 'Dividends',
        'Stock Splits': 'Stock Splits'
    })
    
    return df

In [7]:
names = ["MSFT", "GOOG", "AAPL", "AMZN", "NVDA", "META"]
start_date = "2023-06-01"
end_date = "2024-06-30"

for name in names:
    df = get_stock_data(name, start_date, end_date)

    path = os.path.abspath(f"../data/{name.lower()}_stock_data.csv")
    df.to_csv(path, index=False)
    print(f"Data saved to {path}")

Data saved to d:\Files\Projects\stockMarketAnalysis\data\msft_stock_data.csv
Data saved to d:\Files\Projects\stockMarketAnalysis\data\goog_stock_data.csv
Data saved to d:\Files\Projects\stockMarketAnalysis\data\aapl_stock_data.csv
Data saved to d:\Files\Projects\stockMarketAnalysis\data\amzn_stock_data.csv
Data saved to d:\Files\Projects\stockMarketAnalysis\data\nvda_stock_data.csv
Data saved to d:\Files\Projects\stockMarketAnalysis\data\meta_stock_data.csv

In [13]:
goog = pd.read_csv("goog_stock_data.csv")
goog

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-06-01 00:00:00-04:00,123.359624,124.897874,123.159854,124.228638,25017700,0.0,0.0
1,2023-06-02 00:00:00-04:00,124.348497,126.600939,124.208657,125.087662,19362400,0.0,0.0
2,2023-06-05 00:00:00-04:00,124.468361,127.844516,124.238619,126.486061,22672500,0.0,0.0
3,2023-06-06 00:00:00-04:00,126.456094,128.733509,125.826813,127.764610,19450100,0.0,0.0
4,2023-06-07 00:00:00-04:00,127.429989,129.402750,122.490610,122.800262,34179300,0.0,0.0
...,...,...,...,...,...,...,...,...
266,2024-06-24 00:00:00-04:00,181.279999,182.080002,180.229996,180.789993,18198300,0.0,0.0
267,2024-06-25 00:00:00-04:00,181.145004,185.750000,181.104996,185.580002,18917700,0.0,0.0
268,2024-06-26 00:00:00-04:00,184.199997,185.929993,183.990005,185.369995,13375700,0.0,0.0
269,2024-06-27 00:00:00-04:00,185.645004,187.500000,185.449997,186.860001,13025700,0.0,0.0
270,2024-06-28 00:00:00-04:00,185.720001,186.580002,183.324997,183.419998,23032400,0.0,0.0